html {
  height: 100vh;
  background: #121212;
  color: #fff;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
}

main {
  display: inline-block;
}

h1 {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

canvas {
  height: 600px;
  width: 800px;
}

section.controls {
  display: none;
}

@media (orientation: portrait) {
  main {
    zoom: 1.5;

    &:has(h2[hidden]) section.controls {
      display: block;
    }

    canvas {
      height: 800px;
      width: 600px;
    }
  }

  section.controls {
    zoom: 3.5;
    padding: 0.25em;

    & button {
      width: 4em;
      height: 2em;
      margin: 0;
    }
  }
}
