html {
  height: 100vh;
  background: #121212;
  color: #fff;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  overflow: hidden;
}

main {
  display: inline-block;
}

h1,
h2 {
  text-align: center;
}

section.controls {
  display: none;
}

@media (orientation: portrait) {
  main {
    height: 95dvh;
    zoom: 1.75;

    &:has(h2[hidden]) section.controls {
      display: grid;
      grid-template-columns: repeat(3, auto);
      align-items: center;

      & > [data-direction='moveLeft'] {
        justify-self: right;
      }

      & > [data-direction='moveRight'] {
        justify-self: left;
      }
    }
  }

  canvas {
    zoom: 1.2;
  }

  section.controls {
    zoom: 3;

    & button {
      width: 4.5em;
      height: 1.5em;
      margin: 0;
    }
  }
}
